body {
    background-color: #1e1e1e;
    color: #fff;
}

.input-group {
    width: auto;
}

.input-group-text-custom {
    background-color: #333;
    color: #807834;
    border-radius: 20px 0 0 20px;
    border: none;
    padding: 0.375rem 0.75rem;
}

.form-select-custom {
    background-color: #333;
    color: #6c757d;
    border: none;
    border-radius: 20px;
}

.input-custom {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 20px;
}

.btn-custom {
    background-color: #6c757d;
    /* Color del botón */
    border: none;
    /* Sin borde */
    border-radius: 10px;
    /* Bordes redondeados */
    padding: 0.375rem 0.75rem;
    /* Espaciado */
    color: white;
}

.btn-custom:hover {
    background-color: #52595f;
}

.btn-custom:hover:active {
    background-color: #52595f;
}

.btn-custom2 {
    background-color: #635e29;
    /* Color del botón */
    border: none;
    /* Sin borde */
    border-radius: 10px;
    /* Bordes redondeados */
    padding: 0.375rem 0.75rem;
    /* Espaciado */
    color: white;
}

.btn-custom2:hover {
    background-color: #5a5418;
    /* Color del botón */
}

.btn-custom2:hover:active {
    background-color: #5a5418;
    /* Color del botón */
}

.btn-custom i {
    font-size: 1.2rem;
}

.daterangepicker {
    background-color: white;
    /* Fondo oscuro */
    color: black;
    /* Texto blanco */
}

.daterangepicker .calendar-table {
    color: black;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #635e29;
    /* Color del fondo activo */
    color: white;
}

.daterangepicker td.start-date,
.daterangepicker td.end-date {
    background-color: #635e29;
    color: white;
}

.daterangepicker td.available:hover {
    background-color: #6c757d;
    /* Color del hover */
    color: white;
}

.daterangepicker .applyBtn,
.daterangepicker .cancelBtn {
    background-color: #635e29;
    /* Botones aplicar/cancelar */
    border: none;
}

.daterangepicker .applyBtn:hover,
.daterangepicker .cancelBtn:hover {
    background-color: #6c757d;
}

.resumen-filtros {
    background-color: #333;
    padding: 10px;
    border-radius: 20px;
    margin-top: 15px;
}

.filtro-tag {
    background-color: #6c757d;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    display: inline-block;
}

.resultados-tira {
    background-color: #dbb90f;
    padding: 10px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

.stat-box {
    /* Color dorado */
    color: white;
    padding: 20px;
    text-align: center;
}

.stat-number {
    font-size: 2rem;
    font-weight: bold;
}

.stat-label {
    font-size: 1rem;
}

/* Encabezado de la tabla */
.table-custom thead th {
    background-color: #1e1e1e;
    /* Color de fondo de los encabezados */
    color: #f1b24a;
    /* Color de texto dorado */
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

/* Estilo de las celdas */
.table-custom tbody td {
    padding: 10px;
    border-color: #1e1e1e;
    background-color: #1e1e1e;
}

/* Efecto hover para las filas */
.table-custom tbody tr:hover {
    background-color: #444;
    /* Color de fondo al pasar el cursor */
}

.pagination {
    justify-content: center;
}

.nav-menu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nav-menu a {
    margin: 0 15px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-menu a:hover {
    color: #f1b24a;
    /* Efecto hover, color dorado */
}

.nav-menu a.active {
    color: #f1b24a;
    /* Color para el enlace activo */
}

/* Secciones de contenido */
.section {
    padding: 50px;
    margin-top: 20px;
    display: none;
    /* Ocultar todas las secciones por defecto */
}

.section.active {
    display: block;
    /* Mostrar solo la sección activa */
}