body {
    background-color: #1e1e1e;
    color: #fff;
}

.resultados-tira {
    background-color: #dbb90f;
    padding: 10px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

.stat-box {
    /* Color dorado */
    color: white;
    padding: 20px;
    text-align: center;
}

.stat-number {
    font-size: 2rem;
    font-weight: bold;
}

.stat-label {
    font-size: 1rem;
}

.input-group {
    width: auto;
}

.input-group-text-custom {
    background-color: #333;
    color: #807834;
    border-radius: 20px 0 0 20px;
    border: none;
    padding: 0.375rem 0.75rem;
}

.filters-summary {
    width: auto;
    background-color: #333;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 0.375rem 0.75rem;
}

.form-select-custom {
    background-color: #333;
    color: #6c757d;
    border: none;
    border-radius: 20px;
}

.input-custom {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 20px;
}

.btn-custom {
background-color: #6c757d; /* Color del botón */
border: none; /* Sin borde */
border-radius: 10px; /* Bordes redondeados */
padding: 0.375rem 0.75rem; /* Espaciado */
color: white;
}
.btn-custom:hover {
background-color: #52595f;
}
.btn-custom:hover:active {
background-color: #52595f;
}
.btn-custom2 {
background-color: #635e29; /* Color del botón */
border: none; /* Sin borde */
border-radius: 10px; /* Bordes redondeados */
padding: 0.375rem 0.75rem; /* Espaciado */
color: white;
}
.btn-custom2:hover {
background-color: #5a5418; /* Color del botón */
}
.btn-custom2:hover:active {
background-color: #5a5418; /* Color del botón */
}
.btn-filter {
background-color: #6c757d; /* Color del botón */
border: none; /* Sin borde */
padding: 0.2rem 0.75rem; /* Espaciado */
color: white;
}

.btn-custom i {
    font-size: 1.2rem;
}

.daterangepicker {
    background-color: #333;
    /* Fondo oscuro */
    color: white;
    /* Texto blanco */
}

.daterangepicker .calendar-table {
    color: #807834;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #635e29;
    /* Color del fondo activo */
    color: white;
}

.daterangepicker td.start-date,
.daterangepicker td.end-date {
    background-color: #635e29;
    color: white;
}

.daterangepicker td.available:hover {
    background-color: #6c757d;
    /* Color del hover */
    color: white;
}

.daterangepicker .applyBtn,
.daterangepicker .cancelBtn {
    background-color: #635e29;
    /* Botones aplicar/cancelar */
    border: none;
}

.daterangepicker .applyBtn:hover,
.daterangepicker .cancelBtn:hover {
    background-color: #6c757d;
}

.nav-link{
    color:white;
}
.nav-link:hover{
    color:#807834;
}
.nav-link.active{
    color:#807834;
}